.club-chat {
	width: 400px;
	height: auto;
	position: fixed;
	background: #fefefe;
	margin-left: 690px;
	margin-top: 200px;
	border-radius: 4px;
}

.chat-header {
	width: 100%;
	height: 32px;
	background: #e9e7e7;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.chat-header > p:first-child {
	color: #a1a5ac;
	font-family: Montserrat-ExtraBold;
	font-size: 9px;
	float: left;
	margin-left: 14px;
	margin-top: 11px;
}

.chat-header > .circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #37be3f;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	-moz-box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	position: absolute;
	margin-left: 275px;
	margin-top: 11px;
}

.chat-header > p:nth-child(3) {
	float: right;
	color: #8d8d8d;
	font-family: Montserrat-ExtraBold;
	font-size: 8px;
	margin-top: 9px;
	margin-right: 14px;
}

.chat-header > p:nth-child(3) > span {
	color: #36cc3e;
	font-family: Montserrat-Bold;
	letter-spacing: .3px;
	font-size: 9px;
}

.first-msg{
	margin-top: 10px;
}

.message-tile {
	width: 100%;
	height: 40px;
	float: left;
}

.msg-col-1 {
	width: 69px;
	height: 100%;
	float: left;
	text-align: center;
}

.msg-col-2 {
	width: 330px;
	height: 100%;
	float: left;
}

.msg-col-1 > img {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #417ece;
}

.msg-col-2 > p {
	font-family: Montserrat-SemiBold;
	color: #484848;
	font-size: 12px;
	margin-top: 15px;
}

.msg-col-2 > p > span {
	font-family: Montserrat-Bold;
	color: #484848;
	font-size: 12px;
	cursor: pointer;
}

.fix-msg > .msg-col-2 > p {
	margin-top: 10px;
}

.single-line > .msg-col-2 > p {
	margin-top: 17px;
}

.message-input::-webkit-input-placeholder {
	font-family: Montserrat-SemiBold;
	color: #a1a5ac;
	font-size: 10px;
	letter-spacing: 0px;
}

.message-input {
	width: 291px;
	height: 57px;
	border: none;
	background: #e9e7e7;
	margin-top: 20px;
	text-indent: 20px;
	font-family: Montserrat-Bold;
	font-size: 11px;
	color: #484848;
	letter-spacing: .3px;
	z-index: 100;
	border-bottom-right-radius: 0px;
	float: left;
}

.input-button {
	transition: .3s;
	float: right;
	width: 109px;
	height: 57px;
	border: none;
	background: #e9e7e7;
	margin-right: 0px;
	margin-top: 20px;
	cursor: pointer;
	text-align: right;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.smiley {
	position: absolute;
	margin-top: 21px;
	margin-left: -27px;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
}

.send-p {
	transition: .2s;
	vertical-align: middle;
	display: inline-block;
	font-family: Montserrat-Bold;
	font-size: 12px;
	color: #a1a5ac;
	margin-top: 20px;
	margin-right: 25px;
}

.send-p:hover {
	transition: .2s;
	color: #e0073e;
}

/* seeason */


.season {
	width: 400px;
	height: 122px;
	position: fixed;
	background: #fefefe;
	margin-left: 690px;
	margin-top: 65px;
	border-radius: 4px;	
}

.season-logo {
	width: 164px;
	height: 100%;
	border-right: 1px solid #eae9e9;
	float: left;
	text-align: center;
}

.season-content {
	float: left;
	width: 235px;
	height: 100%;
}

.s-logo {
	margin-top: 20px;
}

.sponsor {
	font-family: Montserrat-SemiBold;
	color: #a1a5ac;
	font-size: 10px;
	margin-top: 8px;
}

.sponsor > img {
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	padding-left: 3px;
}

.season-wrapper {
	padding: 20px 20px;
}

.season-name {
	font-family: Montserrat-ExtraBold;
	color: #484848;
	font-size: 14px;
}

.season-time {
	font-family: Montserrat-SemiBold;
	font-size: 11px;
	color: #a1a5ac;
	letter-spacing: .2px;
	margin-top: 2px;
}

.default-button {
	transition: .3s;
	font-family: Montserrat-Bold;
	border: none;
	font-size: 8px;
	border-radius: 4px;
	background: #323a4d;
	color: white;
	letter-spacing: .2px;
	display: inline-block;
	vertical-align: middle;
}

.default-button:hover {
	transition: .3s;
	background: none;
	border: 2px solid #323a4d;
	border-bottom: 3px solid #323a4d;
	color: #323a4d;
	font-family: Montserrat-ExtraBold;
}

.season-r {
	width: 91px;
	height: 33px;
	margin-top: 12px;
}