.club-chat {
	width: 400px;
	height: 560px;
	position: fixed;
	background: #fefefe;
	margin-left: 690px;
	margin-top: 156px;
	border-radius: 4px;
}

.chat-header {
	width: 100%;
	height: 32px;
	background: #e9e7e7;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.chat-header > p:first-child {
	color: #8d8d8d;
	font-family: Montserrat-ExtraBold;
	font-size: 8px;
	float: left;
	margin-left: 14px;
	margin-top: 11px;
}

.chat-header > .circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #37be3f;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	-moz-box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	position: absolute;
	margin-left: 275px;
	margin-top: 11px;
}

.chat-header > p:nth-child(3) {
	float: right;
	color: #8d8d8d;
	font-family: Montserrat-ExtraBold;
	font-size: 8px;
	margin-top: 9px;
	margin-right: 14px;
}

.chat-header > p:nth-child(3) > span {
	color: #36cc3e;
	font-family: Montserrat-Bold;
	letter-spacing: .3px;
	font-size: 9px;
}

.first-msg{
	margin-top: 10px;
}

.message-tile {
	width: 100%;
	height: 50px;
	float: left;
}

.msg-col-1 {
	width: 69px;
	height: 100%;
	float: left;
	text-align: center;
}

.msg-col-2 {
	width: 255px;
	height: 100%;
	float: left;
}

.msg-col-3 {
	width: 75px;
	height: 100%;
	float: left;
	text-align: center;
}

.msg-col-1 > img {
	width: 42px;
	height: 47px;
	margin-top: 3px;
	cursor: pointer;
}

.msg-col-2 > p {
	font-family: Montserrat-SemiBold;
	color: #8a8a8a;
	font-size: 10px;
	margin-top: 15px;
}

.msg-col-2 > p > span {
	font-family: Montserrat-Bold;
	color: #6d6d6d;
	font-size: 11px;
	cursor: pointer;
}

.msg-col-3 > p {
	color: #8b8b8b;
	font-family: Montserrat-ExtraBold;
	font-size: 8px;
	margin-top: 17px;
}

.fix-msg > .msg-col-2 > p {
	margin-top: 10px;
}

.single-line > .msg-col-2 > p {
	margin-top: 17px;
}

.message-input::-webkit-input-placeholder {
	font-family: Montserrat-Bold;
	color: #9f9f9f;
	font-size: 9px;
	letter-spacing: 0px;
}

.message-input {
	width: 320px;
	height: 44px;
	border-radius: 30px; 
	border: none;
	background: #e9e7e7;
	margin-left: 12px;
	margin-top: 7px;
	text-indent: 20px;
	font-family: Montserrat-Bold;
	font-size: 11px;
	color: #9f9f9f;
	letter-spacing: .3px;
	z-index: 100;
	border-bottom-right-radius: 0px;
}

.input-button {
	transition: .3s;
	float: right;
	width: 320px;
	height: 44px;
	border-radius: 30px; 
	border: none;
	background: #979798;
	margin-top: -44px;
	margin-right: 15px;
	cursor: pointer;
	text-align: right;
}

.input-button > p {
	text-shadow: 0px 0px 7px rgba(132, 132, 132, 1);
	font-family: Montserrat-Bold;
	font-size: 9px;
	letter-spacing: .6px;
	color: white;
	margin-right: 15px;
	line-height: 43px;
}

.input-button:hover {
	transition: .3s;
	background: #32cc3a;
}

.smiley {
	position: absolute;
	margin-top: 21px;
	margin-left: -27px;
	cursor: pointer;
}

/* seeason */


.season {
	width: 400px;
	height: 66px;
	position: fixed;
	background: #fefefe;
	margin-left: 690px;
	margin-top: 77px;
	border-radius: 4px;	
}

.season-col-1 {
	width: 140px;
	height: 100%;
	float: left;
}

.season-data {
	font-family: Montserrat-SemiBold;
	color: #9d9d9d;
	font-size: 10px;
	margin-left: 19px;
	margin-top: 17px;
}

.season-title {
	font-family: Montserrat-Bold;
	color: #4d4c4c;
	font-size: 14px;
	margin-left: 19px;
	margin-top: 3px;
}

.season-col-2 {
	width: 112px;
	height: 100%;
	float: left;
}

.season-col-3 {
	width: 140px;
	height: 100%;
	float: left;
	text-align: center;
}

.season-col-3 > button {
	transition: .2s;
	width: 112px;
	height: 40px;
	border: none;
	background: #f2f2f2;
	margin-top: 13px;
	border-radius: 3px;
	color: #929292;
	font-family: Montserrat-ExtraBold;
	letter-spacing: .2px;
	font-size: 9px;
}

.season-col-3 > button:hover {
	transition: .2s;
	margin-top: 10px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.14);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.14);
	color: #8793a6;
}