.club-chat {
	width: 400px;
	height: 560px;
	position: fixed;
	background: #202835;
	margin-left: 690px;
	margin-top: 156px;
}

.chat-header {
	width: 100%;
	height: 32px;
	background: #141921;
}

.chat-header > p:first-child {
	color: #575d67;
	font-family: Montserrat-ExtraBold;
	font-size: 8px;
	float: left;
	margin-left: 14px;
	margin-top: 11px;
}

.chat-header > .circle {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #37be3f;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	-moz-box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	box-shadow: 0px 0px 22px 0px rgba(55,190,63,0.74);
	position: absolute;
	margin-left: 275px;
	margin-top: 11px;
}

.chat-header > p:nth-child(3) {
	float: right;
	color: #575d67;
	font-family: Montserrat-ExtraBold;
	font-size: 8px;
	margin-top: 9px;
	margin-right: 14px;
}

.chat-header > p:nth-child(3) > span {
	color: #36cc3e;
	font-family: Montserrat-Bold;
	letter-spacing: .3px;
	font-size: 9px;
}

.first-msg{
	margin-top: 10px;
}

.message-tile {
	width: 100%;
	height: 50px;
	float: left;
}

.msg-col-1 {
	width: 69px;
	height: 100%;
	float: left;
	text-align: center;
}

.msg-col-2 {
	width: 255px;
	height: 100%;
	float: left;
}

.msg-col-3 {
	width: 75px;
	height: 100%;
	float: left;
	text-align: center;
}

.msg-col-1 > img {
	width: 42px;
	height: 47px;
	margin-top: 3px;
	cursor: pointer;
}

.msg-col-2 > p {
	font-family: Montserrat-SemiBold;
	color: #8a8a8a;
	font-size: 10px;
	margin-top: 15px;
}

.msg-col-2 > p > span {
	font-family: Montserrat-SemiBold;
	color: #fefefe;
	font-size: 11px;
	cursor: pointer;
}

.msg-col-3 > p {
	color: #575e6f;
	font-family: Montserrat-ExtraBold;
	font-size: 8px;
	margin-top: 17px;
}

.fix-msg > .msg-col-2 > p {
	margin-top: 10px;
}

.single-line > .msg-col-2 > p {
	margin-top: 17px;
}

.message-input::-webkit-input-placeholder {
	font-family: Montserrat-Bold;
	color: #565d6a;
	font-size: 9px;
	letter-spacing: 0px;
}

.message-input {
	width: 320px;
	height: 44px;
	border-radius: 30px; 
	border: none;
	background: #1a212b;
	margin-left: 12px;
	margin-top: 7px;
	text-indent: 20px;
	font-size: 11px;
	color: white;
	letter-spacing: .3px;
	z-index: 100;
	border-bottom-right-radius: 0px;
}

.input-button {
	transition: .3s;
	float: right;
	width: 320px;
	height: 44px;
	border-radius: 30px; 
	border: none;
	background: #2b3648;
	margin-top: -44px;
	margin-right: 15px;
	cursor: pointer;
	text-align: right;
}

.input-button > p {
	text-shadow: 0px 0px 7px rgba(132, 132, 132, 1);
	font-family: Montserrat-Bold;
	font-size: 9px;
	letter-spacing: .6px;
	color: white;
	margin-right: 15px;
	line-height: 43px;
}

.input-button:hover {
	transition: .3s;
	-webkit-box-shadow: inset 0px 0px 36px -7px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 36px -7px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 36px -7px rgba(0,0,0,1);
	background: #32cc3a;
}

.smiley {
	position: absolute;
	margin-top: 21px;
	margin-left: -27px;
	cursor: pointer;
}

/* seeason */


.season {
	width: 400px;
	height: 66px;
	position: fixed;
	background: #202835;
	margin-left: 690px;
	margin-top: 77px;	
}

.season-col-1 {
	width: 140px;
	height: 100%;
	float: left;
}

.season-data {
	font-family: Montserrat-ExtraBold;
	color: #595e65;
	font-size: 10px;
	margin-left: 19px;
	margin-top: 17px;
}

.season-title {
	font-family: Montserrat-SemiBold;
	color: white;
	font-size: 14px;
	margin-left: 19px;
	margin-top: 3px;
}

.season-col-2 {
	width: 112px;
	height: 100%;
	float: left;
}

.season-col-3 {
	width: 140px;
	height: 100%;
	float: left;
	text-align: center;
}

.season-col-3 > button {
	transition: .2s;
	width: 112px;
	height: 40px;
	border: none;
	background: #2f3b4e;
	margin-top: 13px;
	border-radius: 3px;
	color: #6c7687;
	font-family: Montserrat-ExtraBold;
	letter-spacing: .2px;
	font-size: 9px;
}

.season-col-3 > button:hover {
	transition: .2s;
	margin-top: 10px;
	-webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.34);
	color: #8793a6;
}