.header-data-point {
	width: 120px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.header-data-point > .time-img {
	width: 17px;
	height: 16px;
}

.header-data-point:last-child {
	margin-left: -15px;
}

.header-data-point:last-child > .time-img {
	width: 15px;
	height: 14px;
}

.data-points > .dp-rank {
	margin-left: 28px;
}

.data-points > .dp-club {
	margin-left: 124px;
}

.data-points > .dp-leader {
	margin-left: 552px;

}

.col-m1 {
	width: 81px;	
}

.col-m1 > p {
	font-family: Montserrat-ExtraBold;
	font-size: 24px;
	color: #43505c;
	line-height: 65px;
}

.col-m1 > p > span {
	font-family: Montserrat-Medium;
	font-size: 10px;
	color: #606f7e;
}

.col-m2 {
	width: 427px;
	text-align: left;
}

.col-m2 > img {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: 7px;
}

.col-m2 > p {
	font-size: 15px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
}

.col-m3 {
	width: 152px;
	text-align: center;
}

.col-m3 > img {
	display: inline-block;
	vertical-align: middle;

}

.col-m3 > p {
	font-family: Montserrat-Bold;
	font-size: 15px;
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	line-height: 60px;
	padding-left: 2px;
}