.leaderboard-header {
	width: 100%;
	height: 170px;
	float: left;
	background: url(images/bgs/leaderboard-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.feed {
	height: 824px;
}

.back-img {
	vertical-align: middle;
	display: inline-block;
	margin-left: 33px;
	margin-top: 23px;
	padding-right: 3px;
	cursor: pointer;
}

.back-p {
	vertical-align: middle;
	display: inline-block;	
	margin-top: 21px;
	font-family: Montserrat-Bold;
	font-size: 9px;
	color: #8f8f8f;
	cursor: pointer;
}

.back-p:hover {
	transition: .2s;
	opacity: .7;
}

.season-title-2 {
	font-family: Montserrat-ExtraBold;
	font-size: 28px;
	margin-left: 33px;
	margin-top: 10px;
	letter-spacing: .1px;
	color: white;
}

.season-subtitle {
	font-family: Montserrat-Medium;
	font-size: 12px;
	color: #ffffff;
	margin-left: 33px;
	margin-top: 3px;
	letter-spacing: .1px;
}

.ends-in {
	font-family: Montserrat-Bold;
	font-size: 10px;
	color: #58616b;
	margin-left: 33px;
	margin-top: 15px;
}

.time-img {
	margin-left: 33px;
	margin-top: 10px;
	vertical-align: middle;
	display: inline-block;
}

.time-p {
	font-family: Montserrat-Bold;
	font-size: 18px;
	margin-left: 4px;
	margin-top: 10px;
	letter-spacing: .1px;
	color: white;	
	vertical-align: middle;
	display: inline-block;
}

.data-points {
	width: 100%;
	height: 30px;
	float: left;
	margin-top: 3px;
}

.data-points > p {
	font-family: Montserrat-ExtraBold;
	font-size: 8px;
	color: #6a6e72;
	letter-spacing: .3px;
	position: absolute;
	line-height: 30px;
}

.data-points > .dp-rank {
	margin-left: 47px;
}

.data-points > .dp-club {
	margin-left: 170px;
}

.data-points > .dp-leader {
	margin-left: 368px;
}

.data-points > .dp-members {
	margin-left: 445px;
}

.data-points > .dp-mvp {
	margin-left: 521px;
}

.data-points > .dp-points {
	margin-left: 607px;
}


.club-tile {
	transition: .3s;
	width: 100%;
	height: 68px;
	background: #1c232f;
	border-top: 1px solid #242d3b;
	border-bottom: 1px solid #242d3b;
	float: left;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.12);
}

.club-tile:hover {
	transition: .2s;
	-webkit-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.32);
	box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.32);
	background: #26303c;
	cursor: pointer;
	margin-left: 7px;
}

.col {
	float: left;
	height: 100%;
}

.col-m1 {
	width: 44px;
}

.col-m2 {
	width: 32px;
	text-align: center;
}

.col-m2 > p {
	font-family: Montserrat-ExtraBold;
	font-size: 24px;
	color: #43505c;
	line-height: 65px;
}

.col-m2 > p > span {
	font-family: Montserrat-Medium;
	font-size: 10px;
	color: #606f7e;
}

.col-m3 {
	width: 210px;
}

.col-m3 > p {
	font-family: Montserrat-ExtraBold;
	font-size: 18px;
	color: #ffffff;
	letter-spacing: .1px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	margin-top: 6px;
	cursor: pointer;
}

.col-m3 > p > img {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}

.col-m4 {
	width: 55px;
}

.col-m5 {
	width: 89px;
	text-align: center;
}

.col-m5 > p {
	line-height: 67px;
	font-family: Montserrat-SemiBold;
	font-size: 11px;
	color: #ffffff;
	letter-spacing: .2px;
	cursor: pointer;
}

.col-m6 {
	width: 75px;
	text-align: center;
}

.col-m6 {
	line-height: 67px;
	font-family: Montserrat-SemiBold;
	font-size: 11px;
	color: #ffffff;
	letter-spacing: .2px;
}

.col-m7 {
	width: 95px;
	text-align: center;
}

.col-m7 > p {
	line-height: 67px;
	font-family: Montserrat-SemiBold;
	font-size: 11px;
	color: #ffffff;
	letter-spacing: .2px;
	cursor: pointer;
}

.col-m8 {
	width: 55px;
	line-height: 67px;
	font-family: Montserrat-SemiBold;
	font-size: 11px;
	color: #ffffff;
	letter-spacing: .2px;
	text-align: center;
}

.col-m8 > p {
	padding-right: 10px;
}

.clear-tile {
	background: none;
	border: none;	
}

.col-m1 {
	text-align: center;
}

.col-m1 > .up {
	margin-top: 24px;	
}

.col-m1 > .up-p {
	font-family: Montserrat-Bold;
	font-size: 9px;
	color: #3ccf45;
}

.col-m1 > .down-p {
	font-family: Montserrat-Bold;
	font-size: 9px;
	color: #cf3c3c;
	margin-top: 24px;
}

.col-m1 > .down {
	float: left;
	margin-top: 4px;
	margin-left: 18.4px;
}

.no-bg {
	background: none;
	border: none;
}