.container {
	width: 100%;
	height: 100%;
}

body {
	background: #efefef;
}

.page-content {
	width: 100%;
	height: auto;
	background: #1a212b;
}

.body-wrapper {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}

.feed {
	width: 665px;
	height: 1720px;
	background: #efefef;
	float: left;
	margin-top: 65px;
	margin-left: 12px;
}

.feed-header {
	width: 666px;
	height: 103px;
	background: #fefefe;
	border-radius: 4px;
}

.team-1 {
	width: auto;
	float: left;
	padding-top: 12px;
	padding-left: 12px;
}

.badges {
	width: auto;
	height: 20px;
	margin-top: 65px;
}

.badges > img:hover {
	transition: .2s;
	opacity: .7;
}

.team-2 > .badges {
	margin-left: 145px; 
}

.badge-mar {
	margin-left: 5px;
	cursor: pointer;
}

.club-img {
	width: 52px;
	height: 52px;
	float: left;
}

.blue-team {
	border: 2px solid #90bbf2;
}

.red-team {
	border: 2px solid #ef829e;
}

.club-img > img {
	width: 52px;
	height: 52px;
	cursor: pointer;
	border-radius: 50%;
	-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.75);
}

.team-info {
	width: auto;
	height: 65px;
	padding-left: 15px;
	float: left;
}

.club-name {
    font-family: Montserrat-ExtraBold;
	color: #4d4c4c;
	font-size: 18px;
}

.club-members {
	color: #a1a5ac;
    font-family: Montserrat-SemiBold;
    font-size: 12px;
	letter-spacing: .2px;
}

.club-players {
	color: #a1a5ac;
    font-family: Montserrat-SemiBold;
    font-size: 12px;	
	letter-spacing: .2px;
}

.club-players > img {
	float: left;
	margin-top: 2px;
	padding-right: 3px;
}

.b-m { margin-left: 6px; }

.middle-header {
	width: 139px;
	height: 65px;
	float: left;
	padding: 20px 0px;
	margin-left: 62px;
}

.middle-top {
	width: 100%;
	height: 44px;
}

.middle-bottom {
	width: 100%;
	height: 21px;
	text-align: center;
}

.middle-bottom > p {
	line-height: 21px;
	color: #a1a5ac;
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    letter-spacing: .2px;
}

.middle-bottom > p > img {
	width: 11px;
	height: 11px;
	padding-right: 3px;
}

.score-1 {
	width: 62px;
	height: 100%;
	float: left;
	line-height: 44px;
	text-align: left;
}

.vs {
	width: auto;
	height: 100%;
	float: left;
	line-height: 45px;
	text-align: center;
}

.vs > p {
	font-family: Montserrat-ExtraBold;
	font-size: 10px;
	color: #a1a5ac;
}

.score-2 {
	width: 62px;
	height: 100%;
	float: left;
	text-align: right;
	line-height: 44px;
}

.score-text {
	color: #484848;
    font-family: Montserrat-SemiBold;
    font-size: 36px;
}

.team-2 {
	float: right;
	padding-top: 12px;
	padding-right: 14px;
}

.team-2 > .team-info {
	padding-left: 0px;
	padding-right: 12px;
	text-align: right;
}

.team-2 > .team-info > .club-name {
	text-align: right;	
}

.team-2 > .team-info > .club-members {
	text-align: right;	
}

.team-2 > .team-info > .club-players {
	text-align: right;
}

.team-2 > .team-info > .club-players > img {
	margin-left: 70px;
}

.feed-sub-header {
	width: 642px;
	height: 32px;
	padding: 8px 12px;
	background: #fefefe;
	border-radius: 4px;	
	top: 65px;
	margin-top: 2px;
	position: sticky;
	z-index: 100;
	-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
}

.scroll {
	width: 202px;
	height: 100%;
	float: left;
}

.scroll > img {
	margin-top: 6px;
	float: left;
}

.scroll > p:nth-child(2) {
	color: #484848;
	font-size: 10px;
    font-family: Montserrat-SemiBold;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.sub-score {
	width: 239px;
	height: 100%;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #484848;
    font-family: Montserrat-Bold;
}

.sub-score > p > img {
	padding: 0px 4px;
}

.time-left {
	color: #a1a5ac;
	font-size: 10px;
	margin-top: 1px;
    font-family: Montserrat-Bold;
}

.play-wrapper {
	width: 201px;
	height: 100%;
	float: left;
	text-align: right;
}

.play-wrapper > button {
	transition: .2s;
	width: 105px;
	height: 32px;
	background: #e0073e;
	border-radius: 4px;
	border: none;
	color: white;
    font-family: Montserrat-ExtraBold;
    font-size: 9px;
    letter-spacing: .3px;
    line-height: 30px;
}

.play-wrapper > button:hover {
	transition: .2s;
	border: 2px solid #e0073e;
	border-bottom: 3px solid #e0073e;
	background: none;
	color: #e0073e;
	font-size: 10px;
}

.load-more {
	width: 100%;
	height: 45px;
	float: left;
	text-align: center;
}

.load-more > p {
	font-size: 9px;
	color: #acaeb1;
    font-family: Montserrat-Bold;
    margin-top: 20px;
    cursor: pointer;
}

.load-more > p:hover {
	opacity: .6;
}

.load-more > img {
	float: left;
	margin-left: 34px;
	margin-top: -5px;
}

.message {
	padding: 15px 15px;
	background: #fefefe;
	border-radius: 4px;
	margin-top: 8px;
}

.message-1 {
	transition: .1s;
	float: right;
	width: 548px;
	height: 438px;
}

.message-1:hover {
	transition: .3s;
	margin-right: 14px;
	-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
}

.message-2 {
	transition: .1s;
	width: 460px;
	height: 140px;
	float: left;
}

.message-2:hover {
	transition: .3s;
	margin-left: 14px;
	-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
}

.message-3 {
	transition: .1s;
	float: right;
	width: 460px;
	height: 120px;
}

.message-3:hover {
	transition: .3s;
	margin-right: 14px;
	-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
}

.message-4 {
	transition: .1s;
	float: right;
	width: 460px;
	height: 120px;
}

.message-4:hover {
	transition: .3s;
	margin-right: 14px;
	-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.25);
}

.g-video {
	width: 548px;
	height: 438px;
}

.message-header {
	width: 100%;
	height: 44px;
	float: left;
}

.msg-avatar {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 50%;
}

.avatar-red {
	border: 1px solid #e0073e;
}

.avatar-blue {
	border: 1px solid #417ece;
}

.msg-name {
	color: #484848;
    font-family: Montserrat-ExtraBold;
	font-size: 14px;
	margin-left: 50px;
	margin-top: 2px;
	position: absolute;
}

.played-ago {
	position: absolute;
	margin-left: 52px;
	color: #a1a5ac;
    font-family: Montserrat-Bold;
	font-size: 10px;
	float: left;
	margin-top: 22px;
}

.played-ago > img {
	float: left;
	padding-right: 4px;
}

.message-2 > .message-header > .earned {
	color: #4382d5;
}

.earned {
	float: right;
	color: #e0073e;
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
}

.earned > span {
    font-family: Montserrat-ExtraBold;
}

.message-text {
	width: 100%;
	height: auto;
	padding: 12px 0px;
	float: left;
}

.message-2 > .message-text > p {
	font-size: 14px;
}

.message-3 > .message-text > p {
	font-size: 14px;
}

.message-4 > .message-text > p {
	font-size: 14px;
}

.g-video > .message-text > p {
	font-size: 18px;
}

.message-text > p {
    font-family: Montserrat-SemiBold;
	font-size: 18px;
	color: #484848;
}

.message-video {
	float: left;
	width: 546px;
	height: 292px;
	border: 1px solid #efefef;
}

.buttons {
	width: 100%;
	height: auto;
	padding: 14px 0px;
	float: left; 
}

.button-box {
	width: auto;
	height: auto;
	float: left;
}

.button-box > p {
	vertical-align: middle;
	display: inline-block;
	margin-left: 2px;
    font-family: Montserrat-Bold;
	font-size: 14px;
	color: #9ea2a8;
	cursor: pointer;
}

.button-box > img {
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}

.mar-button {
	margin-left: 14px;
}

.buttons > .like > img {
	margin-top: -3px;
}